<ul>
{{#each this }}
  <li>Title: {{ this.title }}</li>
  <ul>
   <li><a href="{{ this.url }}" target="_blank">{{ this.url }}</a></li>
   <li>Description: {{ this.description }}</li>
  </ul> 
{{/each }}
</ul>