<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
  <body>
    <h1>Add a New Fantasy Team</h1>
    <form action="#" th:action="@{/fantasy/teams}" th:object="${team}" method="POST">
      <div>
        <label th:for="teamName">Team Name</label>
        <input type="text" th:field="*{teamName}" />
      </div>
      <div>
        <label th:for="description">Description</label>
        <input type="text" th:field="*{description}" />
      </div>
      <div>
        <label th:for="price">Price</label>
        <input type="number" th:field="*{price}" min="0.00" step="0.01" />
      </div>
      <div>
        <input type="submit" value="Add Fantasy Team" />
      </div>
    </form>
  </body>
</html>