<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
  <body>
    <h1>Add a New Pet</h1>

    <form action="/pets/new" method="POST" th:object="${petDto}">
      <div>
        <label th:for="name">Name</label>
        <input type="text" th:field="*{name}" />
        <p th:errors="*{name}" />
      </div>
      <div>
        <label th:for="speciesName">Species</label>
        <input type="text" th:field="*{speciesName}" />
        <p th:errors="*{speciesName}" />
      </div>
      <div>
        <label th:for="breed">Breed</label>
        <input type="text" th:field="*{breed}" />
        <p th:errors="*{breed}" />
      </div>
      <div>
        <label th:for="age">Age</label>
        <input type="number" th:field="*{age}" />
        <p th:errors="*{age}" />
      </div>
      <div>
        <p>Neutered:
          <label>Yes
            <input type="radio" th:field="*{neutered}" value="true">
          </label>
          <label>No
            <input type="radio" th:field="*{neutered}" value="false">
          </label>
        </p>
        <p th:errors="*{neutered}" />
      </div>
      <div><input type="submit" value="Add Pet" /></div>
    </form>
  </body>
</html>