#ad {
  border: 4px solid #000000;
  border-radius: 16px;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  padding: 1rem 0;
  background-color: #eb57c3;
}

.yellow-text {
  color: #f5d748;
}

.yellow-text i {
  color: #555555;
}

#email {
  background-color: #f5d748;
}

#prize-btn {
  background-color: #53c0bc;
  color: #eb57c3;
  font-weight: bolder;
  border: 3px solid #000000;
}

ul {
  color: #000000;
}
